<!doctype html>
<html>
  <head>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="brand" href="/">Next Summer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <%# if current_user %>
              <li><a href="/users/#{current_user.id}"><%#= current_user.name %></a></li>
              <li><a href="/sign-out">Sign Out</a></li>
            <%# else %>
              <li><a href="/auth/twitter">Sign In</a></li>
            <%# end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>
    <div class="container-fluid">
      <h1><a href="/">Next Summer</a></h1>
      <%= yield %>
    </div>
    <script src="/js/boostrap.min.js"></script>
  </body>
</html>