@import url(http://fonts.googleapis.com/css?family=McLaren);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Skranji:400,700);

.navbar {
  background-color: #e7e7e7;
  height: 75px;
  font-family: Mclaren;
}
a.navbar-brand {
  font-size: 30px;
  padding-top: 26px;
}
.navbar a {
  color: #428bca !important;
}
.navbar li {
  padding-top: 15px !important;
}
.icon-bar {
  background-color: #428bca !important;
}
.navbar-toggle {
  margin-top: 20px;
}
h1, h2, h3 {
  font-family: Mclaren;
}
.page-body{
  margin-top: 85px;
}
.profile_photo img {
  margin-top: 25px;
  height: 100px;
  border: solid black 1px;
}
.border-box {
  border: solid black 1px;
  margin-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 10px;
  background-color: #e7e7e7;
  border-radius: 10px;
}
.interest-button {
  display:inline-block; 
}
.left-button {
  margin-left:15px;
}
.right-button {
  margin-left:5px;
}

