<div class="row">
  <div class="col-xs-12 border-box">
    <h2 class="ml-10">What's everyone been up to?</h2>
    <div class="row">
      <% @tags.each do |tag| %>
        <div class="col-xs-12 col-md-4">
          <div class="row">
            <div class="col-xs-5 col-md-3">
              <div class="profile_photo_small">
                <img src="images/<%= tag.name&.downcase %>.jpg" onerror="this.src='images/business_cat.jpg'">
              </div>
            </div>
            <div class="col-xs-7 col-md-8">
              <h3><a href="/interests/<%= tag.id %>"><%= tag.name %></a></h3>
              <% tag.activities.each do |activity| %>
                <p><%= activity.description %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>